body
  color: $text_color

h1
  font-size: 1.6em * 1.6
  text-align: center

article
  margin-left: auto
  margin-right: auto
  width: 750px

  header
    margin: 1em

section.input
  margin: 1em 0

form
  padding: 1em
  text-align: center
  label
    display: block
    font-weight: bold

section.result
  margin: 1em 0

table
  width: 100%
  td, th
    padding: 0.2em 0.5em
  th
    font-weight: bold
  tbody
    border-top: 1px solid $text_color
  tfoot
    td
      border-top: 1px solid $text_color
      font-weight: bold
  .amount
    text-align: right
  .percentage
    text-align: right