body
  +background(linear-gradient(top, #f0f0f0, #ffffff 300px))
  border-top: 0.5em solid $finansministeriet_blue
  color: $text_color
  font-size: 1em

h1
  font-family: 'Crimson Text', serif
  font-size: 1.6em * 1.6
  font-weight: bold
  letter-spacing: -0.05em

article
  margin-left: auto
  margin-right: auto
  max-width: 650px
  width: 75%

  header
    margin: 2em 0
    text-align: center

section
  margin: 2em 0

form
  $top_color: saturate(lighten($finansministeriet_blue, 66%), 66%)
  $bottom_color: lighten($finansministeriet_blue, 33%)
  background: $top_color
  +background(linear-gradient(top, $top_color, $bottom_color))
  margin-left: -2em
  padding: 1em 2em
  text-align: center
  width: 100%
  label
    display: block
    font-size: 1.6em
    cursor: pointer
    margin-bottom: 1rem
  input
    font-family: inherit
    font-size: 1em
    text-align: center
    width: 6em
  button
    +fancy-button($finansministeriet_blue)
    clear: both
    font-size: 1.6em

table
  width: 100%
  td, th
    padding: 0.3em 0.6em
  th
    font-weight: bold
  tbody
    border-top: 1px solid $text_color
    td, th
      background: $row_color
      border-top: 1px solid #ffffff
    tr:first-child
      td, th
        border: 0
  tfoot
    border-top: 1px solid $text_color
    td
      font-weight: bold
  .amount
    text-align: right
  .percentage
    text-align: right
  .child
    td, th
      background: white
      border-top: 1px solid $row_color
      color: lighten($text_color, 33%)
