body
  background: #ffffff
  +background(linear-gradient(top, #f0f0f0, #ffffff 300px) repeat-x)
  border-top: 0.5em solid $finansministeriet_blue
  color: $text_color
  font-size: 1em
  line-height: 1.6em

a
  &:link
    color: $link_color
    text-decoration: none
  &:visited
    color: $link_color
    text-decoration: none
  &:hover
    color: lighten($link_color, 50%)
    text-decoration: underline
  &:active
    color: $link_color


h1
  font-family: 'Crimson Text', serif
  font-size: 1.6em * 1.6
  font-weight: bold
  letter-spacing: -0.05em

  & + div
    +background(radial-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0) 300px) repeat-x)
    height: 2em

article
  margin: 4em auto
  max-width: 650px
  width: 75%

  header
    margin: 2em 0
    text-align: center

section
  margin: 2em 0

footer
  background: $footer_color
  +background(linear-gradient(top, $footer_color, #ffffff))
  font-size: 0.625em
  font-family: arial, sans-serif
  line-height: 1.6em
  padding: 2em
  article
    margin: 1em auto
  p
    text-align: center

form
  $top_color: saturate(lighten($finansministeriet_blue, 66%), 66%)
  $bottom_color: lighten($finansministeriet_blue, 33%)
  background: $top_color
  +background(linear-gradient(top, $top_color, $bottom_color))
  margin-left: -2em
  padding: 1em 2em
  text-align: center
  width: 100%
  label
    display: block
    font-size: 1.6em
    cursor: pointer
    margin-bottom: 1rem
  input
    font-family: inherit
    font-size: 1em
    text-align: center
    width: 6em
  button
    +fancy-button($finansministeriet_blue)
    clear: both
    font-size: 1.6em

table
  width: 100%
  td, th
    padding: 0.3em 0.6em
  th
    font-weight: bold
  tbody
    border-top: 1px solid $text_color
    td, th
      background: $row_color
      border-top: 1px solid #ffffff
    tr:first-child
      td, th
        border: 0
  tfoot
    border-top: 1px solid $text_color
    td
      font-weight: bold
  .amount
    text-align: right
  .percentage
    text-align: right
  .child
    td, th
      background: white
      border-top: 1px solid $row_color
      color: lighten($text_color, 33%)
    th
      padding-left: 1.8em // Should really be 20px + 0.3em

tr
  a.toggle
    background: url(/images/icons/fugue/16x16/toggle-expand.png) 0% 50% no-repeat
    padding-left: 20px
    text-indent: -1000em
  &.expanded
    td
      font-weight: bold
    a.toggle
      background-image: url(/images/icons/fugue/16x16/toggle.png)
